.logo{
    display: flex;
    align-items: center;
}

.logo>img{
    width: 15rem;
    height: 3rem;
    padding-left: 2%;
    padding-right: 8%;
}

.nav{
   background-color: #dc3545;
   font-size: var(--bs-navbar-toggler-font-size);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}

form{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.color-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    mix-blend-mode: normal;
}